$primary-dark: #202020;
$primary-white: #FFFFFF;
$text-grey: #CACACA;
$text-light-grey: #999999;
$tag-bg: #333333;

// UI

$primary-orange:  #FF6E30; // use hover link, and bg-color btn
$hover-orange: #BC572B; // use btn hover, and link focus
$click-orange: #CE4307; // use click link and click btn